# registry = https://registry.npmjs.org/
# @ones:registry = https://npm.partner.ones.ai/registry/
# @ones-op:registry = https://npm.partner.ones.ai/registry/
# @ones-ai:registry = https://npm2.myones.net/
# @ones-design:registry = https://npm.partner.ones.ai/registry/
# @ones-mf:registry = https://npm2.myones.net/
# @ones-plugin:registry = https://npm2.myones.net/
# @ones-op:registry=https://npm.partner.ones.ai/registry/
